.icon-pref {
	background-image: url(images/pref-icon.gif) !important;
}
#pref-win .x-window-mc {
	color:#000 !important;
}
#pref-win .x-window-mc {
	background:#fff none !important;
}
#pref-win .x-border-layout-ct {
	background:transparent none;
}
#pref-win .x-panel-header {
	background:transparent none;
	border-bottom:0px none;
}
#pref-win .pref-card .x-panel-header {
	color:#000;
	padding-left:15px;
	padding-top:15px;
}
#pref-win .pref-card-subpanel .x-panel-header {
	color:#000;
	padding:5px 3px 4px 5px;
}
#pref-win-card-1 .x-panel-body li {
	margin:3px;
	margin-bottom:20px;
}
#pref-win-card-1 .x-panel-body li img {
	width:24px;
	height:24px;
	vertical-align:middle;
	margin-right:7px;
	margin-bottom:2px;
}
#pref-win-card-1 .x-panel-body li a {
	text-decoration:none;
	color:#336699;
	font-weight:bold;
}
#pref-win-card-1 .x-panel-body li span {
	/* color:#000; */
	padding-left:34px;
}
#pref-win-card-2 ul li {
	border-bottom:1px solid #d0d0d0;
	margin:0 3px;
	padding:3px 0;
}
#pref-win-card-2 .x-tree-node .x-tree-selected {
	background-color:#c0c0c0;
}
#pref-win-card-2 .x-tree-icon,
#pref-win-card-2 .x-tree-ec-icon,
#pref-win-card-2 .x-tree-elbow-line,
#pref-win-card-2 .x-tree-elbow,
#pref-win-card-2 .x-tree-elbow-end,
#pref-win-card-2 .x-tree-elbow-plus,
#pref-win-card-2 .x-tree-elbow-minus,
#pref-win-card-2 .x-tree-elbow-end-plus,
#pref-win-card-2 .x-tree-elbow-end-minus {
	width:3px;
}
#pref-win-card-2 input.x-tree-node-cb {
	margin-left:5px;
}
#pref-win-card-2 .x-tree-node a span,
#pref-win-card-2 .x-dd-drag-ghost a span {
	padding:1px 3px 1px 6px;
}
.icon-pref-quickstart {
	background-image:url(images/quickstart-icon.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='source/helpers/preferences/images/quickstart-icon.png', sizingMethod='scale');
}
.icon-pref-appearance {
	background-image:url(images/appearance-icon.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='source/helpers/preferences/images/appearance-icon.png', sizingMethod='scale');
}
.icon-pref-wallpaper {
	background-image:url(images/wallpaper-icon.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='source/helpers/preferences/images/wallpaper-icon.png', sizingMethod='scale');
	
}
#pref-win-card-1 .x-panel-body {
	padding:10px
}
.quick-start-plugin {
	background-image:url(images/tree/plugin.gif) !important;
}
.pref-thumbnail-viewer .x-panel-header{
	background:transparent none;
	border-bottom:1px solid #ccc !important;
}
#BkView .x-panel-body,
#pref-theme-view .x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
#BkView .bkview-thumb,
#pref-theme-view .bkview-thumb {
	background: #dddddd;
	padding: 3px;
}
#BkView .bkview-thumb img{
	/* height: 67px;
	width: 107px; */
}
#pref-theme-view  .bkview-thumb img{
	/* height: 100px;
	width: 100px; */
}
#BkView .bkview-thumb-wrap,
#pref-theme-view .bkview-thumb-wrap {
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
#BkView .bkview-thumb-wrap span,
#pref-theme-view .bkview-thumb-wrap span {
	display: block;
	overflow: hidden;
	text-align: center;
}

#BkView .x-view-over,
#pref-theme-view .x-view-over {
    border:1px solid #dddddd;
    /* background: #efefef url(../../Ext/2.0/resources/images/default/grid/row-over.gif) repeat-x left top; */
	padding: 4px;
}

#BkView .x-view-selected,
#pref-theme-view .x-view-selected {
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
#BkView .x-view-selected .bkview-thumb,
#pref-theme-view .x-view-selected .bkview-thumb{
	background:transparent;
}

#BkView .loading-indicator {
	font-size:11px;
	/* background-image:url('../../Ext/2.0/resources/images/default/grid/loading.gif'); */
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}
.bg-pos-center {
	background-image:url(images/bg-center-icon.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='source/helpers/preferences/images/bg-center-icon.png', sizingMethod='scale');
}
.bg-pos-tile {
	background-image:url(images/bg-tile-icon.png);
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='source/helpers/preferences/images/bg-tile-icon.png', sizingMethod='scale');
}